@{
    ViewBag.Title = "Acerca";
}
<h2>@ViewBag.Title</h2>
<h3>Equipo 4 </h3>

<p>El sitio fue construido por dos estudiantes de Ingenieria en Sistemas de la Universidad Abierta interamenricana a manera de demostración de los contenidos aprendidos en Lenguajes de Programacion para la Administración (LPPA).</p>
