@{
    ViewBag.Title = "Acerca";
}
<h2>@ViewBag.Title</h2>
<h3>Equipo 4 </h3>

<p>El sitio fue construido para la materia LENGUAJES DE PROGRAMACIÓN PARA LA ADMINISTRACIÓN ... para los entendidos LPPA</p>
