@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Universidad Abierta Interamericana<br />
    Gdor. Inocencio Arias 3550, B1712 Castelar, Provincia de Buenos Aires<br />
    <abbr title="Telefono">T:</abbr>
    4661-6986
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Bontaroberto@gmail.com">Bontaroberto@gmail.com</a><br />
    <strong>Support:</strong> <a href="mailto:damiancontreras.15@gmail.com">Damiancontreras.15@gmail.com</a>
</address>