@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="jumbotron">
    <h1>Obras Argentinas</h1>
    <p class="lead">Obras Argentinas destacadas de la pagina.</p>
    <p><a href="/Obras/" class="btn btn-primary btn-lg">Vea mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="header2">Empecemos con las obras publicadas</h2>
        <p>
            Muchas obras con referencias 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Vea mas &raquo;</a></p>
    </div>
    <div class="col-md-4" >
        <h2 class="header2">Otras cosas mas</h2>
        <p>Con mas obras.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Vea mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="header2">Y mas arte</h2>
        <p>Mucho mas arte.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Vea mas &raquo;</a></p>
    </div>
</div>